<header class="site-header">

  <div class="wrapper">
    <table class="navigation">
      <tr>
        <td>
          <a href="{{ site.baseurl }}/">
            <h1 class="main-site-title">{{ site.title }}</h1>
          </a>
          <span><a href="/about">about</a> | <a href="/archive">archive</a> | <a href="https://github.com/Sarath-VS">github</a></span>
        </td>
        <td style="text-align: right;">
          <a href="https://sarathsasindrakumar.com/">
            <img src="https://hapuriainen.files.wordpress.com/2014/01/kids_despicableme.jpg" style="width: 65px; margin: 0; display: inline;" />
          </a>
        </td>
      </tr>
    </table>

  </div>

</header>